.todo-list {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.todo-item {
  padding: 20px 30px;
  border: 1px solid white;

  &__header{
    display: flex;
    justify-content: space-between;
  }
}
