<div class="todo-item">
  <div class="todo-item__row">
    <a class="todo-item__title" [routerLink]="'/' + todo.id">
      {{todo.title}}
    </a>
    <div>Deadline: <span deadline [date]="todo.deadline">{{todo.deadline | ruDate}}</span></div>
  </div>
  <div class="todo-item__row">
    <p class="todo-item__description"> {{todo.description}}</p>
    <div class="todo-item__control">
      <button mat-stroked-button class="btn--secondary" (click)="removeTodo(todo.id)">Удалить</button>
      <button mat-flat-button class="btn--secondary" (click)="editTodo(todo.id)">Редактировать</button>
    </div>

  </div>
</div>
