<div class="main-wrapper">
  <div class="page-wrapper">
    <div class="statistic">
      <div class="card">
        <h3 class="card__title">Выполнено</h3>
        <div class="card__count">124</div>
      </div>
      <div class="card">
        <h3 class="card__title">Текущие</h3>
        <div class="card__count">24</div>
      </div>
      <div class="card">
        <h3 class="card__title">Всего поставлено</h3>
        <div class="card__count">148</div>
      </div>
      <div class="card">
        <h3 class="card__title">Выполнено в срок</h3>
        <div class="card__count">0</div>
      </div>
      <div class="card">
        <h3 class="card__title">Просрочено</h3>
        <div class="card__count">124</div>
      </div>
    </div>


    <!-- <h3>Текущие: 24 задачи</h3>
    <h3>Всего поставлено: 148 задач</h3>
    <h3>Выполнены в срок: 0 задач</h3>
    <h3>Просрочены: 124 задач</h3> -->

  </div>

</div>
