<div class="page-wrapper">
  <h1 *ngIf="!id; else editCaseHeader">Добавление задачи</h1>
  <ng-template #editCaseHeader>
    <h1>Редактирование задачи</h1>
  </ng-template>

  <form *ngIf="!isTodoLoading; else loader" [formGroup]="form" class="todo-form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Название задачи</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Описание задачи</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <div class="todo-form__flex-items">
      <div class="todo-form__date-picker">
        <mat-form-field appearance="fill">
          <mat-label>Укажите дату дедлайна</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="deadline">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="todo-form__btns">
        <button mat-stroked-button class="btn--secondary" (click)="goToTodo()">Отмена</button>
        <button *ngIf="!id; else editCaseButton" [disabled]="form.invalid" mat-raised-button>Создать</button>
        <ng-template #editCaseButton>
          <button [disabled]="form.invalid" mat-raised-button>Сохранить</button>
        </ng-template>
      </div>

    </div>
  </form>

  <ng-template #loader>
    <div ng class="loader">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

</div>
